*{
    background-color: #025159;
    color: #fff;
    margin: 0;
    padding: 0; 
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.App{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}